{
  "extends": [
    "airbnb/base",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
  },
  "rules": {
    "function-paren-newline": 0,
    "quotes": ["warn", "single"]
  }
}
