{
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es2020": true,
    "serviceworker": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {
    "function-paren-newline": 0,
    "quotes": ["warn", "single"]
  }
}
