@import "./module-example.css";

:root {
  --brandFont: -apple-system, "blinkmacsystemfont", ".SFNSDisplay-Regular", ".SFNSText-Regular", "SF UI Text", "San Francisco", "Noto Sans", "Helvetica Neue", "Roboto", "Droid Sans", "Oxygen", "Lucida Grande", "Segoe UI", "Fira Sans", "ubuntu", "cantarell", "helvetica", "arial", sans-serif;
}

body {
  font-family: var(--brandFont);
  color: color-mod(var(--colorDark) alpha(80%));
  font-size: var(--module-size, 2em);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--colorLight);
  padding: 1em;
}

img {
  height: 5em;
}

footer {
  text-align: center;
}

/* Apple dark theme support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--colorDark);
    color: var(--colorLight);
  }

  main {
    background-color: var(--colorDark);
  }
}
